<div class="pt-5 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <h2>Introduction</h2>
        <p class="pr-5 text-white-50">
          Hey, I am Manisha Kumari and persuing bachelors of technology in cse from Sviet college and currently i'm in 3rd year.
          And I have done my intermediate and matriculation from Jawahar navodaya vidyalaya Koderma, Jharkhand with 89 and 91.40 % respectively.
          My ambition is to be placed in a good company like jungleworks.
          Talking about the skills which I posses are:
          I have programmed using the language C, C++, dsa in C++, and java.
          And have some knowledge of designing the templates using HTML, CSS, Bootstrap, Javascript.
          The project which I completed in college were contact management system using data structure, electricity bill calculator using java script, google ads, and a template for pet aggregator using HTML, CSS, Bootstrap.
          
        </p>
        <p>
          <a href="/heading/landing-page"
            ><fa-icon [icon]="faFacebookSquare"></fa-icon></a
          ><a href="#" class="mx-2"><fa-icon [icon]="faLinkedin"></fa-icon></a>
          <a href="#"><fa-icon [icon]="faInstagramSquare"></fa-icon></a>
        </p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Links</h4>
        <ul class="m-0 p-0">
          <li>- <a href="#">Home</a></li>
          <li>- <a href="#">Text-Tech</a></li>
          <li>- <a href="#">Learning</a></li>
          <li>- <a href="#">Sign out</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Address</h4>
        <p>S.A.S. Nagar Mohali</p>
        <p class="mb-0">
          <fa-icon [icon]="faPhone" class="me-2"></fa-icon>1234567890
        </p>
        <p>
          <fa-icon [icon]="faEnvelope" class="me-2"></fa-icon
          >mk.9709031&commat;gmail.com
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class="">
          <small class="text-white-50">© 2024. All Rights Reserved.</small>
        </p>
      </div>
    </div>
  </div>
</div>
